:root {
    --prm-hue: 212;
    --prm-sat: 100%;
    --prm-val-dark: 40%;
    --prm-val-mid: 75%;
    --prm-val-light: 95%;

    --prm-color: var(--prm-hue) var(--prm-sat) var(--prm-val-dark);
    --prm-back: var(--prm-hue) var(--prm-sat) var(--prm-val-light);
    --prm-mid: var(--prm-hue) var(--prm-sat) var(--prm-val-mid);

    --scnd-hue: 18;
    --scnd-sat: 100%;
    --scnd-val-dark: 48%;

    --scnd-color: var(--scnd-hue) var(--scnd-sat) var(--scnd-val-dark);
}
